@import "tailwindcss";
:root {
    --HomePage-bg: url(https://cdn.jsdelivr.net/gh/lost0427/LightingMinecraft-Cmb@main/src/assets/HomePage/Museum.webp), url('../assets/HomePage/Museum.webp');
    --PhotoGallery-bg: url(https://s21.ax1x.com/2025/01/22/pEANdot.webp);
    --PhotoGallery-frame-container: url(https://s21.ax1x.com/2025/01/22/pEANHOJ.png);
    --AboutUs-bg: url(https://s21.ax1x.com/2025/01/23/pEAoVNq.webp);
    --InfoPage-bg: url(https://s21.ax1x.com/2025/01/23/pEAo9gS.webp);
}