@import "tailwindcss";
:root {
    --HomePage-bg: url(https://s21.ax1x.com/2025/01/21/pEAmaOU.webp);
    --PhotoGallery-bg: url(https://s21.ax1x.com/2025/01/22/pEANdot.webp);
    --PhotoGallery-frame-container: url(https://s21.ax1x.com/2025/01/22/pEANHOJ.png);
    --AboutUs-bg: url(https://s21.ax1x.com/2025/01/23/pEAoVNq.webp);
    --InfoPage-bg: url(https://s21.ax1x.com/2025/01/23/pEAo9gS.webp);

}