---
export interface ButtonProps {
  href: string;
  text: string;
  className?: string;
}

const { href, text, className } = Astro.props as ButtonProps;
---

<a href={href} class="no-underline">
  <h3 class={className}>{text}</h3>
</a>