---
// ServerInfo.astro
export interface ServerInfo {
    items: {
        icon: string;
        label: string;
        value: string;
        svgPath: string; // SVG path data
    }[];
}


const { items } = Astro.props as ServerInfo;

---

<div class="icon-container flex md:flex-row flex-col gap-4 md:gap-0 my-7">
    {items.map((item) => (
            <div class="flex items-center ml-[16px] rounded-xl bg-white">
                <div class="flex items-center bg-black rounded-xl pr-2">
                    <svg class="w-[16px] h-[16px] m-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d={item.svgPath} />
                    </svg>
                    <p>{item.label}</p>
                </div>
                <p class="text-black px-2">{item.value}</p>
            </div>
    ))}
</div>

<style>
    .icon-container svg {
        fill: white;
    }
</style>